<!DOCTYPE html>
<html data-ng-app = 'myApp'>
    <head>
        <title>Arabic to Roman numeral converter</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5
        elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the
        page via file:// -->
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->
        <style>
            .text-large{font-size: 200%}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1 class="lead"><kbd>Arabic to Roman <small class="text-muted">numeral converter</small></kbd></h1>
            </div>
            <div class="row text-info">
                <p>Enter a number from 1 to 99:</p>
            </div>
            <div class="row text-success">
                <input type="number" name="arabicNum" data-ng-model="arabicNum" /><!-- Inputs number given -->
            </div>

            <div class="row text-primary" data-ng-if="arabicNum > 0 && arabicNum < 100"><!-- Checks if its wtihin 1 to 99 -->
                <p class="text-large">{{arabicNum | arab2rom}}</p>
            </div>
        </div>



        <!-- jQuery – required for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <!-- All Bootstrap  plug-ins  file -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Basic AngularJS -->
        <script src="js/angular.min.js"></script>
        <!-- AngularJS - Routing -->
        <script src="js/angular-route.min.js"></script>
        <!-- App Script -->
        <script src="js/appromannumber.js"></script>
    </body>
</html>
